Lending Club

In [26]:
import pandas as pd

In [27]:
LC_df_1 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats3a.csv')

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
LC_df_1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
LC_df_1.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
42537,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42540,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42541,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
LC_df_1.shape

(42542, 122)

In [32]:
LC_df_2 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats3b_securev1.csv')

In [33]:
LC_df_2.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,10119623,NaN,12000.0,12000.0,12000.0,36 months,11.99%,398.52,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10149342,NaN,27050.0,27050.0,27050.0,36 months,10.99%,885.46,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10149577,NaN,28000.0,28000.0,28000.0,36 months,7.62%,872.52,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10149526,NaN,27600.0,27600.0,27600.0,60 months,19.97%,730.78,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10129454,NaN,12000.0,12000.0,12000.0,36 months,10.99%,392.81,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
LC_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188183 entries, 0 to 188182
Columns: 128 entries, id to sec_app_mths_since_last_major_derog
dtypes: float64(103), object(25)
memory usage: 183.8+ MB

In [35]:
LC_df_2.columns

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       ...
       u'sec_app_earliest_cr_line', u'sec_app_inq_last_6mths',
       u'sec_app_mort_acc', u'sec_app_open_acc', u'sec_app_revol_util',
       u'sec_app_open_il_6m', u'sec_app_num_rev_accts',
       u'sec_app_chargeoff_within_12_mths',
       u'sec_app_collections_12_mths_ex_med',
       u'sec_app_mths_since_last_major_derog'],
      dtype='object', length=128)

In [36]:
LC_df_2.shape

(188183, 128)

In [37]:
LC_df_3 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats3c_securev1.csv')

In [38]:
LC_df_3.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37822187,NaN,9600.0,9600.0,9600.0,36 months,13.66%,326.53,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
LC_df_3.shape

(235631, 128)

In [40]:
LC_df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235631 entries, 0 to 235630
Columns: 128 entries, id to sec_app_mths_since_last_major_derog
dtypes: float64(103), object(25)
memory usage: 230.1+ MB

In [41]:
LC_df_3.shape

(235631, 128)

In [42]:
LC_df_3.shape

(235631, 128)

In [43]:
LC_df_4 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats3d_securev1.csv')

In [44]:
LC_df_4.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99%,123.03,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85%,829.90,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68566886,NaN,29900.0,29900.0,29900.0,60 months,12.88%,678.49,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68495092,NaN,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68577849,NaN,18000.0,18000.0,18000.0,60 months,11.99%,400.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
LC_df_4.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
421092,36271333,NaN,13000.0,13000.0,13000.0,60 months,15.99%,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421093,36490806,NaN,12000.0,12000.0,12000.0,60 months,19.99%,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421094,36271262,NaN,20000.0,20000.0,20000.0,36 months,11.99%,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
LC_df_4.shape

(421097, 128)

In [47]:
LC_df_4_ind = LC_df_4.index
LC_df_4_ind[0]

0

In [48]:
LC_df_4.iloc[0]

id                                                                              68407277
member_id                                                                            NaN
loan_amnt                                                                           3600
funded_amnt                                                                         3600
funded_amnt_inv                                                                     3600
term                                                                           36 months
int_rate                                                                          13.99%
installment                                                                       123.03
grade                                                                                  C
sub_grade                                                                             C4
emp_title                                                                        leadman
emp_length                                                                     10+ years
home_ownership                                                                  MORTGAGE
annual_inc                                                                         55000
verification_status                                                         Not Verified
issue_d                                                                           Dec-15
loan_status                                                                      Current
pymnt_plan                                                                             n
url                                    https://lendingclub.com/browse/loanDetail.acti...
desc                                                                                 NaN
purpose                                                               debt_consolidation
title                                                                 Debt consolidation
zip_code                                                                           190xx
addr_state                                                                            PA
dti                                                                                 5.91
delinq_2yrs                                                                            0
earliest_cr_line                                                                  Aug-03
fico_range_low                                                                       675
fico_range_high                                                                      679
inq_last_6mths                                                                         1
                                                             ...
num_il_tl                                                                              3
num_op_rev_tl                                                                          4
num_rev_accts                                                                          9
num_rev_tl_bal_gt_0                                                                    4
num_sats                                                                               7
num_tl_120dpd_2m                                                                       0
num_tl_30dpd                                                                           0
num_tl_90g_dpd_24m                                                                     0
num_tl_op_past_12m                                                                     3
pct_tl_nvr_dlq                                                                      76.9
percent_bc_gt_75                                                                       0
pub_rec_bankruptcies                                                                   0
tax_liens                                                                              0
tot_hi_cred_lim                                                                   178050
total_bal_ex_mort                                                                   7746
total_bc_limit                                                                      2400
total_il_high_credit_limit                                                         13734
revol_bal_joint                                                                      NaN
sec_app_fico_range_low                                                               NaN
sec_app_fico_range_high                                                              NaN
sec_app_earliest_cr_line                                                             NaN
sec_app_inq_last_6mths                                                               NaN
sec_app_mort_acc                                                                     NaN
sec_app_open_acc                                                                     NaN
sec_app_revol_util                                                                   NaN
sec_app_open_il_6m                                                                   NaN
sec_app_num_rev_accts                                                                NaN
sec_app_chargeoff_within_12_mths                                                     NaN
sec_app_collections_12_mths_ex_med                                                   NaN
sec_app_mths_since_last_major_derog                                                  NaN
Name: 0, Length: 128, dtype: object

In [49]:
for i in x.columns, y.columns:

IndentationError: expected an indented block (<ipython-input-49-72b7c40f8a09>, line 2)

In [72]:
LC_df_5a = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats_2016Q1.csv')

In [73]:
LC_df_5a.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,12000.0,12000.0,12000.0,36 months,9.75%,385.80,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,6000.0,6000.0,6000.0,36 months,7.39%,186.34,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,6000.0,6000.0,6000.0,36 months,10.75%,195.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,20400.0,20400.0,20400.0,60 months,13.67%,471.19,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
LC_df_5a.shape

(133891, 122)

In [75]:
LC_df_5b = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats_2016Q2.csv')

In [76]:
LC_df_5b.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,10000.0,10000.0,10000.0,60 months,13.49%,230.05,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,20000.0,20000.0,20000.0,36 months,8.59%,632.19,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4900.0,4900.0,4900.0,36 months,10.99%,160.40,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,16000.0,16000.0,16000.0,36 months,7.59%,498.37,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000.0,5000.0,5000.0,36 months,10.99%,163.67,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
LC_df_5b.shape

(97858, 122)

In [78]:
LC_df_5c = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats_2016Q3.csv')

In [79]:
LC_df_5c.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,15000.0,15000.0,15000.0,36 months,13.99%,512.60,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2600.0,2600.0,2600.0,36 months,8.99%,82.67,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,32200.0,32200.0,32200.0,60 months,21.49%,880.02,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,11.49%,329.72,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,6000.0,6000.0,6000.0,36 months,13.49%,203.59,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
LC_df_5c.shape

(99124, 122)

In [81]:
LC_df_5d = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats_2016Q4.csv')

In [82]:
LC_df_5d.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,21500.0,21500.0,21500.0,36 months,11.39%,707.86,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4500.0,4500.0,4500.0,36 months,12.74%,151.06,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9300.0,9300.0,9300.0,36 months,8.24%,292.46,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14400.0,14400.0,14400.0,60 months,7.99%,291.92,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,11100.0,11100.0,11100.0,36 months,5.32%,334.28,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
LC_df_5d.columns

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       ...
       u'sec_app_earliest_cr_line', u'sec_app_inq_last_6mths',
       u'sec_app_mort_acc', u'sec_app_open_acc', u'sec_app_revol_util',
       u'sec_app_open_il_6m', u'sec_app_num_rev_accts',
       u'sec_app_chargeoff_within_12_mths',
       u'sec_app_collections_12_mths_ex_med',
       u'sec_app_mths_since_last_major_derog'],
      dtype='object', length=122)

In [84]:
LC_df_5d.shape

(103550, 122)

In [85]:
example2 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/Workbook4.csv')
example1 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/Workbook5.csv')

In [61]:
example1.columns

Index([u'aa', u'bb', u'cc', u'dd', u'gg'], dtype='object')

In [86]:
example2.columns

Index([u'aa', u'bb', u'cc', u'dd'], dtype='object')

Write a function to compare all the column names so that quaterly data in 2016 can be combined into one.

In [87]:

def add_col(m):
    Col_list =[]
    for i in m.columns:
        Col_list.append(i)
    return Col_list

def cmpL(a,b):
    not_match_list = []
    for j in a.columns:
        if j not in b:
            not_match_list.append(j)
    return not_match_list        

def merge_columns(x, y):
    length_x = len(x.columns)
    length_y = len(y.columns)
    #not_match_list = []
    if length_x > length_y:
        Col_list = add_col(y)
        not_match_list = cmpL(x,Col_list)
        not_match_list
    else:    
        Col_list = add_col(x)
        not_match_list = cmpL(y,Col_list)

    return not_match_list          
           
        
#merge_columns(LC_df_5c, LC_df_5d)
merge_columns(example1, example2)

['gg']

In [88]:
merge_columns(LC_df_5c, LC_df_5d)

[]

In [89]:
merge_columns(LC_df_5a, LC_df_5b)

[]

In [90]:
merge_columns(LC_df_5a, LC_df_5c)

[]

In [91]:
merge_columns(LC_df_5b, LC_df_5d)

[]

In [92]:
merge_columns(LC_df_5d, LC_df_6)

[]

In [93]:
merge_columns(LC_df_2, LC_df_4)

[]

In [94]:
merge_columns(LC_df_3, LC_df_4)

[]

In [95]:
merge_columns(LC_df_4, LC_df_5a)

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [96]:
merge_columns(LC_df_3, LC_df_5a)

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [97]:
merge_columns(LC_df_1, LC_df_2)

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [98]:
not_match_list = []

In [99]:
merge_columns(LC_df_2, LC_df_3)

[]

In [100]:
merge_columns(LC_df_1, LC_df_3)

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [101]:
merge_columns(LC_df_2, LC_df_1)

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

So clear from the last step that we don't have FICO Scores
The data I will be working with includes 2012, 2013, 2014 and 2015
Next step is to concatenate the dataframes
But before that I need to check the order of the column names of two data frames when taken together

In [102]:
Col_names = LC_df_2.columns.tolist()
Col_names

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_il_6m',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

Considering these column names as the standard I will try to mask other dataframes, so that the order is maintained.

In [103]:
LC_df_3_updated = LC_df_3[Col_names]

In [104]:
LC_df_4_updated = LC_df_4[Col_names]

So now I will concatenate LC_df_2, LC_df_3_updated and LC_df_4_updated for starting my analysis

In [105]:
LC_Data = pd.concat([LC_df_2, LC_df_3_updated, LC_df_4_updated], axis =0, ignore_index=True)

#pd.concat([df1, df4], axis=1)
LC_Data.shape

(844911, 128)

Next step would be to check if the data types for each columns is consistent

In [106]:
LC_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844911 entries, 0 to 844910
Columns: 128 entries, id to sec_app_mths_since_last_major_derog
dtypes: float64(102), object(26)
memory usage: 825.1+ MB

In [107]:
LC_Data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,0.0,844905.000000,844905.000000,844905.000000,844905.000000,8.449050e+05,844905.000000,844905.000000,844905.000000,844905.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,14939.696948,14939.135790,14932.062825,442.444359,7.532275e+04,18.398120,0.322589,694.032294,698.032399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,8441.712188,8441.289292,8437.685105,244.416334,6.471264e+04,17.518312,0.875358,29.888723,29.889257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1000.000000,1000.000000,900.000000,14.010000,0.000000e+00,0.000000,0.000000,660.000000,664.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,8400.000000,8400.000000,8400.000000,265.680000,4.560000e+04,12.130000,0.000000,670.000000,674.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,13275.000000,13275.000000,13250.000000,387.620000,6.500000e+04,17.890000,0.000000,685.000000,689.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,20000.000000,20000.000000,20000.000000,578.680000,9.000000e+04,24.240000,0.000000,710.000000,714.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,35000.000000,35000.000000,35000.000000,1445.460000,9.500000e+06,9999.000000,39.000000,845.000000,850.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
LC_Data.columns

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       ...
       u'sec_app_earliest_cr_line', u'sec_app_inq_last_6mths',
       u'sec_app_mort_acc', u'sec_app_open_acc', u'sec_app_revol_util',
       u'sec_app_open_il_6m', u'sec_app_num_rev_accts',
       u'sec_app_chargeoff_within_12_mths',
       u'sec_app_collections_12_mths_ex_med',
       u'sec_app_mths_since_last_major_derog'],
      dtype='object', length=128)

In [109]:
LC_Data.int_rate.dtype

dtype('O')

In [110]:
LC_Data.int_rate[0]

'11.99%'

In [111]:
LC_Data.int_rate

0         11.99%
1         10.99%
2          7.62%
3         19.97%
4         10.99%
5          7.62%
6         14.98%
7         13.53%
8         13.98%
9         10.99%
10        10.99%
11        13.53%
12        22.90%
13        12.85%
14         6.62%
15         8.90%
16        14.47%
17         9.67%
18        13.53%
19        16.24%
20        12.85%
21         6.03%
22        17.57%
23         9.67%
24        13.53%
25         7.62%
26        21.48%
27        15.61%
28        19.97%
29        16.24%
           ...
844881     6.99%
844882    15.99%
844883     8.19%
844884    15.59%
844885    17.86%
844886    17.86%
844887    11.44%
844888    15.99%
844889     8.67%
844890    15.59%
844891     8.19%
844892     6.03%
844893     9.49%
844894     6.49%
844895    14.99%
844896    16.49%
844897     6.03%
844898    14.31%
844899     8.67%
844900     9.49%
844901    19.24%
844902    15.59%
844903    11.99%
844904    11.99%
844905    11.99%
844906    15.99%
844907    19.99%
844908    11.99%
844909       NaN
844910       NaN
Name: int_rate, Length: 844911, dtype: object

In [112]:
LC_Data.loan_amnt.isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
844881    False
844882    False
844883    False
844884    False
844885    False
844886    False
844887    False
844888    False
844889    False
844890    False
844891    False
844892    False
844893    False
844894    False
844895    False
844896    False
844897    False
844898    False
844899    False
844900    False
844901    False
844902    False
844903    False
844904    False
844905    False
844906    False
844907    False
844908    False
844909     True
844910     True
Name: loan_amnt, Length: 844911, dtype: bool

In [113]:
LC_Data['id'].dtype

dtype('O')

In [114]:
def match_cols(df):
    no_match = []
    for i in df.columns:
        if len(set(df[i].unique())) != 1:
            no_match.append(i)
    return no_match        
        
match_cols(LC_Data)

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [117]:
LC_Data[LC_Data.columns[0]].values

array([10119623, 10149342, 10149577, ..., '36271262',
       'Total amount funded in policy code 1: 6417608175',
       'Total amount funded in policy code 2: 1944088810'], dtype=object)

In [116]:
type(LC_Data.loan_amnt.values[-1])

numpy.float64

In [ ]:
import numpy as np

In [ ]:
np.NAN

In [ ]:
type(np.nan)

In [ ]:
for i in LC_df_2.columns, LC_df_3.columns:
    for j in i[0]

In [ ]:
LC_Data.isnull().sum()

It will be easier to work without some of the obvious columns that have all or most null values.
Masking the columns

In [118]:
LC_Data_new = LC_Data.drop(['member_id', 'desc', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 
              'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_revol_util' , 
                'sec_app_open_il_6m', 'sec_app_chargeoff_within_12_mths' , 
                 'sec_app_mths_since_last_major_derog','sec_app_collections_12_mths_ex_med','sec_app_num_rev_accts'], axis = 1)

In [119]:
LC_Data_new.shape

(844911, 114)

In [120]:
LC_Data_new.isnull().sum().sort_values()

id                                     0
open_acc                               6
pub_rec                                6
revol_bal                              6
total_acc                              6
initial_list_status                    6
out_prncp                              6
out_prncp_inv                          6
total_pymnt                            6
total_pymnt_inv                        6
total_rec_prncp                        6
inq_last_6mths                         6
total_rec_int                          6
recoveries                             6
collection_recovery_fee                6
last_pymnt_amnt                        6
delinq_amnt                            6
last_fico_range_high                   6
last_fico_range_low                    6
collections_12_mths_ex_med             6
chargeoff_within_12_mths               6
policy_code                            6
application_type                       6
total_rec_late_fee                     6
fico_range_high                        6
pub_rec_bankruptcies                   6
earliest_cr_line                       6
loan_amnt                              6
funded_amnt                            6
funded_amnt_inv                        6
                                   ...
avg_cur_bal                        27759
pct_tl_nvr_dlq                     27900
emp_title                          48850
mo_sin_old_il_acct                 53303
num_tl_120dpd_2m                   55093
mths_since_recent_inq              94165
mths_since_last_delinq            427422
next_pymnt_d                      513420
mths_since_recent_revol_delinq    553961
mths_since_last_major_derog       623188
mths_since_recent_bc_dlq          637279
mths_since_last_record            711498
open_rv_24m                       823539
open_il_6m                        823539
open_il_12m                       823539
open_il_24m                       823539
max_bal_bc                        823539
open_rv_12m                       823539
all_util                          823539
inq_fi                            823539
total_cu_tl                       823539
inq_last_12m                      823539
total_bal_il                      823539
open_acc_6m                       823539
mths_since_rcnt_il                824101
il_util                           826294
verification_status_joint         844400
annual_inc_joint                  844400
dti_joint                         844402
sec_app_open_acc                  844911
Length: 114, dtype: int64

In [121]:
LC_Data_new.shape

(844911, 114)

In [122]:
LC_Data_new1 =  LC_Data_new.drop(['verification_status_joint','annual_inc_joint','dti_joint','sec_app_open_acc'], axis = 1)

In [123]:
LC_Data_new1.shape

(844911, 110)

In [124]:
LC_Data_new1.isnull().sum()

id                                     0
loan_amnt                              6
funded_amnt                            6
funded_amnt_inv                        6
term                                   6
int_rate                               6
installment                            6
grade                                  6
sub_grade                              6
emp_title                          48850
emp_length                             6
home_ownership                         6
annual_inc                             6
verification_status                    6
issue_d                                6
loan_status                            6
pymnt_plan                             6
url                                    6
purpose                                6
title                                145
zip_code                               6
addr_state                             6
dti                                    6
delinq_2yrs                            6
earliest_cr_line                       6
fico_range_low                         6
fico_range_high                        6
inq_last_6mths                         6
mths_since_last_delinq            427422
mths_since_last_record            711498
                                   ...
mo_sin_old_rev_tl_op               27748
mo_sin_rcnt_rev_tl_op              27748
mo_sin_rcnt_tl                     27747
mort_acc                            7501
mths_since_recent_bc               14878
mths_since_recent_bc_dlq          637279
mths_since_recent_inq              94165
mths_since_recent_revol_delinq    553961
num_accts_ever_120_pd              27747
num_actv_bc_tl                     27747
num_actv_rev_tl                    27747
num_bc_sats                        16061
num_bc_tl                          27747
num_il_tl                          27747
num_op_rev_tl                      27747
num_rev_accts                      27748
num_rev_tl_bal_gt_0                27747
num_sats                           16061
num_tl_120dpd_2m                   55093
num_tl_30dpd                       27747
num_tl_90g_dpd_24m                 27747
num_tl_op_past_12m                 27747
pct_tl_nvr_dlq                     27900
percent_bc_gt_75                   15830
pub_rec_bankruptcies                   6
tax_liens                              6
tot_hi_cred_lim                    27747
total_bal_ex_mort                   7501
total_bc_limit                      7501
total_il_high_credit_limit         27747
Length: 110, dtype: int64

In [125]:
LC_Data_new1.mths_since_last_delinq.value_counts()

9.0      8390
6.0      8258
12.0     8155
8.0      8148
13.0     8128
7.0      8076
10.0     7984
14.0     7837
15.0     7745
11.0     7662
16.0     7342
17.0     7332
18.0     7261
21.0     7091
19.0     7031
20.0     6890
22.0     6864
25.0     6745
5.0      6728
26.0     6654
23.0     6617
28.0     6542
24.0     6525
27.0     6511
29.0     6430
30.0     6217
33.0     6117
31.0     6101
32.0     6050
34.0     6007
         ...
152.0       3
107.0       3
149.0       2
123.0       2
141.0       2
130.0       2
129.0       2
148.0       2
117.0       2
111.0       2
127.0       2
119.0       2
143.0       1
159.0       1
180.0       1
124.0       1
188.0       1
171.0       1
125.0       1
136.0       1
157.0       1
142.0       1
151.0       1
154.0       1
137.0       1
139.0       1
126.0       1
156.0       1
140.0       1
176.0       1
Name: mths_since_last_delinq, Length: 155, dtype: int64

In [126]:
LC_Data_new1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844911 entries, 0 to 844910
Columns: 110 entries, id to total_il_high_credit_limit
dtypes: float64(86), object(24)
memory usage: 709.1+ MB

In [127]:
LC_Data_new1.dtypes

id                                 object
loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
earliest_cr_line                   object
fico_range_low                    float64
fico_range_high                   float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
                                   ...
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
Length: 110, dtype: object

In [128]:
for i in zip(LC_Data_new1.columns, LC_Data_new1.dtypes):
    print i

('id', dtype('O'))
('loan_amnt', dtype('float64'))
('funded_amnt', dtype('float64'))
('funded_amnt_inv', dtype('float64'))
('term', dtype('O'))
('int_rate', dtype('O'))
('installment', dtype('float64'))
('grade', dtype('O'))
('sub_grade', dtype('O'))
('emp_title', dtype('O'))
('emp_length', dtype('O'))
('home_ownership', dtype('O'))
('annual_inc', dtype('float64'))
('verification_status', dtype('O'))
('issue_d', dtype('O'))
('loan_status', dtype('O'))
('pymnt_plan', dtype('O'))
('url', dtype('O'))
('purpose', dtype('O'))
('title', dtype('O'))
('zip_code', dtype('O'))
('addr_state', dtype('O'))
('dti', dtype('float64'))
('delinq_2yrs', dtype('float64'))
('earliest_cr_line', dtype('O'))
('fico_range_low', dtype('float64'))
('fico_range_high', dtype('float64'))
('inq_last_6mths', dtype('float64'))
('mths_since_last_delinq', dtype('float64'))
('mths_since_last_record', dtype('float64'))
('open_acc', dtype('float64'))
('pub_rec', dtype('float64'))
('revol_bal', dtype('float64'))
('revol_util', dtype('O'))
('total_acc', dtype('float64'))
('initial_list_status', dtype('O'))
('out_prncp', dtype('float64'))
('out_prncp_inv', dtype('float64'))
('total_pymnt', dtype('float64'))
('total_pymnt_inv', dtype('float64'))
('total_rec_prncp', dtype('float64'))
('total_rec_int', dtype('float64'))
('total_rec_late_fee', dtype('float64'))
('recoveries', dtype('float64'))
('collection_recovery_fee', dtype('float64'))
('last_pymnt_d', dtype('O'))
('last_pymnt_amnt', dtype('float64'))
('next_pymnt_d', dtype('O'))
('last_credit_pull_d', dtype('O'))
('last_fico_range_high', dtype('float64'))
('last_fico_range_low', dtype('float64'))
('collections_12_mths_ex_med', dtype('float64'))
('mths_since_last_major_derog', dtype('float64'))
('policy_code', dtype('float64'))
('application_type', dtype('O'))
('acc_now_delinq', dtype('float64'))
('tot_coll_amt', dtype('float64'))
('tot_cur_bal', dtype('float64'))
('open_acc_6m', dtype('float64'))
('open_il_6m', dtype('float64'))
('open_il_12m', dtype('float64'))
('open_il_24m', dtype('float64'))
('mths_since_rcnt_il', dtype('float64'))
('total_bal_il', dtype('float64'))
('il_util', dtype('float64'))
('open_rv_12m', dtype('float64'))
('open_rv_24m', dtype('float64'))
('max_bal_bc', dtype('float64'))
('all_util', dtype('float64'))
('total_rev_hi_lim', dtype('float64'))
('inq_fi', dtype('float64'))
('total_cu_tl', dtype('float64'))
('inq_last_12m', dtype('float64'))
('acc_open_past_24mths', dtype('float64'))
('avg_cur_bal', dtype('float64'))
('bc_open_to_buy', dtype('float64'))
('bc_util', dtype('float64'))
('chargeoff_within_12_mths', dtype('float64'))
('delinq_amnt', dtype('float64'))
('mo_sin_old_il_acct', dtype('float64'))
('mo_sin_old_rev_tl_op', dtype('float64'))
('mo_sin_rcnt_rev_tl_op', dtype('float64'))
('mo_sin_rcnt_tl', dtype('float64'))
('mort_acc', dtype('float64'))
('mths_since_recent_bc', dtype('float64'))
('mths_since_recent_bc_dlq', dtype('float64'))
('mths_since_recent_inq', dtype('float64'))
('mths_since_recent_revol_delinq', dtype('float64'))
('num_accts_ever_120_pd', dtype('float64'))
('num_actv_bc_tl', dtype('float64'))
('num_actv_rev_tl', dtype('float64'))
('num_bc_sats', dtype('float64'))
('num_bc_tl', dtype('float64'))
('num_il_tl', dtype('float64'))
('num_op_rev_tl', dtype('float64'))
('num_rev_accts', dtype('float64'))
('num_rev_tl_bal_gt_0', dtype('float64'))
('num_sats', dtype('float64'))
('num_tl_120dpd_2m', dtype('float64'))
('num_tl_30dpd', dtype('float64'))
('num_tl_90g_dpd_24m', dtype('float64'))
('num_tl_op_past_12m', dtype('float64'))
('pct_tl_nvr_dlq', dtype('float64'))
('percent_bc_gt_75', dtype('float64'))
('pub_rec_bankruptcies', dtype('float64'))
('tax_liens', dtype('float64'))
('tot_hi_cred_lim', dtype('float64'))
('total_bal_ex_mort', dtype('float64'))
('total_bc_limit', dtype('float64'))
('total_il_high_credit_limit', dtype('float64'))

In [129]:
all_objects = []
for  col, dt  in zip(LC_Data_new1.columns, LC_Data_new1.dtypes):
    if object == dt:
        all_objects.append(col)
print all_objects

['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type']

In [130]:
LC_Data_new1.id.isnull().sum()

0

In [131]:
#LC_Data_new1.term.isnull().sum()
LC_Data_new1[LC_Data_new1['term'].isnull()].index

Int64Index([188181, 188182, 423812, 423813, 844909, 844910], dtype='int64')

In [132]:
LC_Data_new1.term.value_counts()

 36 months    589635
 60 months    255270
Name: term, dtype: int64

In [133]:
#LC_Data_new1.int_rate.isnull().sum()
LC_Data_new1[LC_Data_new1['int_rate'].isnull()].index

Int64Index([188181, 188182, 423812, 423813, 844909, 844910], dtype='int64')

In [138]:
x = '17.99%'
float(x.rstrip("%"))

17.99

In [ ]:
for string in LC_Data_new1.int_rate:
    LC_Data_new1.int_rate = float(LC_Data_new1.rstrip("%"))

In [ ]:
LC_Data_new1.int_rate.value_counts()

In [ ]:
#LC_Data_new1.grade.isnull().sum()
LC_Data_new1[LC_Data_new1['grade'].isnull()].index

In [ ]:
LC_Data_new1.grade.value_counts()

In [ ]:
#LC_Data_new1.sub_grade.isnull().sum()
LC_Data_new1[LC_Data_new1['sub_grade'].isnull()].index

In [ ]:
LC_Data_new1.sub_grade.value_counts()

In [ ]:
LC_Data_new1.groupby('grade')('sub_grade')['int_rate'].mean()

In [ ]:
LC_Data_new1.emp_title.isnull().sum()
LC_Data_new1[LC_Data_new1['emp_title'].isnull()].index

In [ ]:
LC_Data_new1.emp_title.value_counts()

In [ ]:
LC_Data_new1.emp_title.values

In [ ]:
for string in LC_Data_new1.emp_title.values:
    print str(string).title()

In [ ]:
LC_Data_new1.emp_title.value_counts()

In [ ]:
LC_Data_new1.emp_length.isnull().sum()
LC_Data_new1[LC_Data_new1['emp_length'].isnull()].index

In [ ]:
LC_Data_new1.home_ownership.isnull().sum()
LC_Data_new1[LC_Data_new1['home_ownership'].isnull()].index

In [ ]:
LC_Data_new1.verification_status.isnull().sum()
LC_Data_new1[LC_Data_new1['verification_status'].isnull()].index

In [ ]:
LC_Data_new1.issue_d.isnull().sum()
LC_Data_new1[LC_Data_new1['issue_d'].isnull()].index

In [ ]:
LC_Data_new1.loan_status.isnull().sum()
LC_Data_new1[LC_Data_new1['loan_status'].isnull()].index

In [ ]:
LC_Data_new1.pymnt_plan.isnull().sum()
LC_Data_new1[LC_Data_new1['pymnt_plan'].isnull()].index

In [ ]:
LC_Data_new1.url.isnull().sum()
LC_Data_new1[LC_Data_new1['url'].isnull()].index

In [ ]:
LC_Data_new1.url.value_counts()

In [ ]:
LC_Data_new1.purpose.isnull().sum()
LC_Data_new1[LC_Data_new1['purpose'].isnull()].index

In [ ]:
LC_Data_new1.title.isnull().sum()

In [ ]:
LC_Data_new1.title.value_counts()

In [ ]:
LC_Data_new1.zip_code.isnull().sum()
LC_Data_new1[LC_Data_new1['zip_code'].isnull()].index

In [ ]:
LC_Data_new1.addr_state.isnull().sum()
LC_Data_new1[LC_Data_new1['zip_code'].isnull()].index

In [ ]:
LC_Data_new1.earliest_cr_line.isnull().sum()
LC_Data_new1[LC_Data_new1['earliest_cr_line'].isnull()].index

In [ ]:
LC_Data_new1.zip_code.isnull().sum()
LC_Data_new1[LC_Data_new1['zip_code'].isnull()].index

In [ ]:
LC_Data_new1.revol_util.isnull().sum()

In [ ]:
LC_Data_new1.revol_util.value_counts()

In [ ]:
LC_Data_new1.initial_list_status.isnull().sum()
LC_Data_new1[LC_Data_new1['initial_list_status'].isnull()].index

In [ ]:
LC_Data_new1.earliest_cr_line.value_counts()

In [ ]:
LC_Data_new1.last_pymnt_d.isnull().sum()

In [ ]:
LC_Data_new1.next_pymnt_d.isnull().sum()

In [ ]:
LC_Data_new1.last_credit_pull_d.isnull().sum()

In [ ]:
LC_Data_new1.application_type.isnull().sum()
LC_Data_new1[LC_Data_new1['application_type'].isnull()].index

In [ ]:
LC_Data_new1.application_type.value_counts()

In [ ]:
LC_Data_new1.drop(LC_Data_new1.index[[188181, 188182, 423812, 423813, 844909, 844910]], inplace=True)

In [ ]:
LC_Data_new1.application_type.isnull().sum()

In [ ]:
# null - missing value or a nan
# nan- not a number

In [ ]:
#object in LC_Data_new1["loan_amnt"]

In [ ]:
list_1 = ['aa', 'bb', 'cc', 'dd']
list_2 = ['aa', 'cc', 'ee', 'bb']

def comp_col(u, v):
    tup =()
    lst = [(i, j) for i, j in zip(u ,v) if i != j]
    return lst        


comp_col(list_2, list_1)

In [ ]:
# def comp_col(x, y):
#     no_match = []
#     for i in x, y:
#         if x[i] != y[i]:
#     return no_match.append(i) 
    


#x = example1




def col_list(x):
    col_list = []
    for i in x.columns:
    #for j in i:
        col_list.append(i)
    return col_list

List_1 = col_list(example2)
List_2 = col_list(example1)



# def comp_col(u, v):
#     tup =()
#     lst = [(i, j) for i, j in zip(u ,v) if i != j]
#     return lst
# #print List_1, List_2
# #x = example1

#         for j in col_list:
#             print j


        


comp_col(List_1, List_2)

In [ ]:
for c1, c2 in enumerate(zip(LC_df_2.dtypes, LC_df_4.dtypes)):
    print c1, c2

In [ ]:
for c1, c2 in enumerate([zip(LC_df_2.dtypes, LC_df_4.dtypes)]):
    for d1, d2 in c2:
        print d1, d2

In [ ]:
set(LC_df_2.dtypes.values)

In [ ]:
for c1, c2 in zip(LC_df_2.dtypes, LC_df_4.dtypes):
    print c1, c2

In [ ]:
LC_df_2.columns[1]

In [ ]:
[zip(LC_df_2.dtypes, LC_df_4.dtypes)]

In [ ]:
booleans = []
# for i, j in zip(LC_df_2.columns.values,LC_df_4.columns):
#     print i.dtypes, j.dtypes
for c1, c2 in enumerate([zip(LC_df_2.dtypes, LC_df_4.dtypes)]):
    for d1, d2 in c2:
        if c1 != c2:
            booleans.append(LC_df_2.columns[c1])
    
booleans

In [ ]:
# example1 = example1.reindex_axis(sorted(example1.columns), axis=1) 
# example2 = example2.reindex_axis(sorted(example2.columns), axis=1)
# example1 == example2

In [ ]:
First, sort both dataframe columns lexicographically,
df1 = df1.reindex_axis(sorted(df.columns), axis=1) df2 = df2.reindex_axis(sorted(df.columns), axis=1)
then compare.
df1 == df2

In [ ]:
LC_df_2.shape

In [ ]:
LC_df_3.shape

In [ ]:


LC_df_4.shape

In [ ]:
LC_df_5d.columns[2]

In [71]:
LC_df_6 = pd.read_csv('/Users/adrija/Desktop/dsi-sf-7/Lending Club_Active/LoanStats_2017Q1.csv')

In [ ]:
LC_df_6.shape